:root {
    --bg-light: #F8FAFF;

    --basic-main: #6FA8FF;

    --standard-main: #8B6DFF;

    --premium-main: #FF6B9A;
}

body {
    background: linear-gradient(135deg, #EAF1FF, #F3E8FF, #FFE8EF)
}

.cards {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;

}

.pricing-card {
    position: relative;
    width: 300px;
    background-color: var(--bg-light);
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
    cursor: pointer;
}

.price {
    font-family: Calibri, sans-serif;
    font-size: 3rem;
    margin-top: 10px;
    margin-bottom: 25px;
    font-weight: bold;
    text-align: center;
}

.price span {
    font-style: italic;
    font-size: 25px;
    font-weight: normal;
    color: #2d4db794;
}

.card-header {
    width: 100%;
    height: 70px;
    color: var(--bg-light);
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-body {
    padding: 0px 25px 35px 25px;
}

.divider {
    border-top: 1px solid #ddd;
}

.features {
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
}

.features li {
    margin-bottom: 12px;
    font-size: 18px;
    color: #888;
}

.features .true-icon {
    color: #35915eb9;
}

.features .false-icon {
    color: #ff0000b0;
}

.btn {
    border: none;
    padding: 20px;
    width: 90%;
    border-radius: 30px;
    font-size: 18px;
    cursor: pointer;
    color: var(--bg-light);
}

.basic {
    --main-color: var(--basic-main);
}

.standard {
    --main-color: var(--standard-main);
}

.premium {
    --main-color: var(--premium-main);
}

.basic .card-header,
.standard .card-header,
.premium .card-header {
    background: var(--main-color);
}

.basic .btn,
.standard .btn,
.premium .btn {
    background: var(--main-color);
}

.badge {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    background: #ffb703;
    color: #fff;
    padding: 8px 18px;
    font-size: 13px;
    font-weight: bold;
    border-radius: 20px;
    text-transform: uppercase;
    z-index: 10;

}


.badge::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #ffb703 transparent;
}


/* Tablet */

@media (max-width: 992px) {
    .pricing-card {
        width: 45%;
    }
}

/* Mobile */
@media (max-width: 600px) {
    .cards {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .pricing-card {
        width: 90%;
    }

    .badge {
        top: 55px;
    }

    .btn {
        font-size: 16px;
        padding: 18px;
    }

    .price {
        font-size: 2.2rem;
    }

    .price span {
        font-size: 18px;
    }

    .badge {
        top: -10px;
        padding: 6px 14px;
        font-size: 12px;
    }
}